* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-theme {
  --background-color: #fffbd0;
}

.dark-theme {
  --background-color: #71717a;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
