* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
}

.light-theme {
  --background-primary: #fffbd0;
  --background-secondary: #fff589;
  --background-tertiary: #fff7aa;
  --modal-background: #fffdeb;

  --text-primary: #2f3640;

  --app-color: #aa0505;
}

.dark-theme {
  --background-primary: #191919;
  --background-secondary: #303030;
  --background-tertiary: #525252;
  --modal-background: #2c2c2c;

  --text-primary: #f4f4f5;

  --app-color: #f4f4f5;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
